# Database
DATABASE_URL=postgresql://user:password@host:port/database

# Environment
NODE_ENV=development

# Next.js
NEXT_PUBLIC_APP_NAME=FIRST TeamMatch
NEXT_PUBLIC_STATE_NAME=Oregon
NEXT_PUBLIC_STATE_ABBREVIATION=OR
NEXT_PUBLIC_REGION_NAME=Oregon
NEXT_PUBLIC_ORG_NAME=FTC12808 RevAmped
NEXT_PUBLIC_ORG_LOCATION=Portland, Oregon
NEXT_PUBLIC_ORG_WEBSITE=https://revampedrobotics.org
NEXT_PUBLIC_ORG_EMAIL=revampedrobotics@gmail.com
NEXT_PUBLIC_CONTACT_EMAIL=revampedrobotics@gmail.com
NEXT_PUBLIC_APP_DESCRIPTION=Connecting passionate students with competitive FIRST robotics teams in Oregon.
